#$ TOOL ispLEVER Classic 1.7.00.05.28.13
#$ DATE Sat Nov 28 17:18:16 2015
#$ TITLE CounterV3
#$ MODULE counterv3
#$ JEDECFILE counterv3
#$ PINS 15 CLOCK:1 RESET:11 BITS0:10 BITS1:9 ZERO:14 ONE:15 BITS8:17 BITS7:18 BITS6:19 BITS5:20 BITS4:21 BITS3:22 BITS2:23 BUFFERED_OUT_BEGIN:16 OUT_BEGIN:8
.type fr
.i 12
.o 26
.ilb RESET BITS2.Q BITS1 BITS0 BITS3.Q BITS4.Q BITS5.Q BITS6.Q BITS7.Q BITS8.Q CLOCK OUT_BEGIN
.ob ZERO ONE BITS2.C BITS3.C BITS4.C BITS5.C BITS6.C BITS7.C BITS8.C BUFFERED_OUT_BEGIN.C BUFFERED_OUT_BEGIN.AR BITS2.AR BITS3.AR BITS4.AR BITS5.AR BITS6.AR BITS7.AR BITS8.AR BITS8.D BITS7.D BITS6.D BITS5.D BITS4.D BITS3.D BITS2.D BUFFERED_OUT_BEGIN.D
.p 102
------------ ~~~~~~~~~~~~~~~~~~~~~~~~~1
1----------- ~~~~~~~~~~~~~~~~~~1~~~~~~~
011--------- ~~~~~~~~~~~~~~~~~~~~~~~~1~
01-1-------- ~~~~~~~~~~~~~~~~~~~~~~~~1~
0000-------- ~~~~~~~~~~~~~~~~~~~~~~~~1~
01--1------- ~~~~~~~~~~~~~~~~~~~~~~~1~~
0-1-1------- ~~~~~~~~~~~~~~~~~~~~~~~1~~
0--11------- ~~~~~~~~~~~~~~~~~~~~~~~1~~
00000------- ~~~~~~~~~~~~~~~~~~~~~~~1~~
01---1------ ~~~~~~~~~~~~~~~~~~~~~~1~~~
0-1--1------ ~~~~~~~~~~~~~~~~~~~~~~1~~~
0--1-1------ ~~~~~~~~~~~~~~~~~~~~~~1~~~
0---11------ ~~~~~~~~~~~~~~~~~~~~~~1~~~
000000------ ~~~~~~~~~~~~~~~~~~~~~~1~~~
01----1----- ~~~~~~~~~~~~~~~~~~~~~1~~~~
0-1---1----- ~~~~~~~~~~~~~~~~~~~~~1~~~~
0--1--1----- ~~~~~~~~~~~~~~~~~~~~~1~~~~
0---1-1----- ~~~~~~~~~~~~~~~~~~~~~1~~~~
0----11----- ~~~~~~~~~~~~~~~~~~~~~1~~~~
0000000----- ~~~~~~~~~~~~~~~~~~~~~1~~~~
01-----1---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
0-1----1---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
0--1---1---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
0---1--1---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
0----1-1---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
0-----11---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
00000000---- ~~~~~~~~~~~~~~~~~~~~1~~~~~
01------1--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
0-1-----1--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
0--1----1--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
0---1---1--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
0----1--1--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
0-----1-1--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
0------11--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
000000000--- ~~~~~~~~~~~~~~~~~~~1~~~~~~
-1-------1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
--1------1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
---1-----1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
----1----1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
-----1---1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
------1--1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
-------1-1-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
--------11-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
-1--000000-- ~1~~~~~~~~~~~~~~~~~~~~~~~~
-0--000000-- 1~~~~~~~~~~~~~~~~~~~~~~~~~
-000000000-- ~~~~~~~~~~~~~~~~~~1~~~~~~~
----------1- ~~11111111~~~~~~~~~~~~~~~~
-----------1 ~~~~~~~~~~1~~~~~~~~~~~~~~~
------------ ~~~~~~~~~~~0000000~~~~~~~~
1----------- ~~~~~~~~~~~~~~~~~~~000000~
-1---------- 0~~~~~~~~~~~~~~~~~~~~~~~~~
-0---------- ~0~~~~~~~~~~~~~~~~~~~~~~~~
-01--------- ~~~~~~~~~~~~~~~~~~~~~~~~0~
-0-1-------- ~~~~~~~~~~~~~~~~~~~~~~~~0~
-100-------- ~~~~~~~~~~~~~~~~~~~~~~~~0~
----1------- 00~~~~~~~~~~~~~~~~~~~~~~~~
-0001------- ~~~~~~~~~~~~~~~~~~~~~~~0~~
-1--0------- ~~~~~~~~~~~~~~~~~~~~~~~0~~
--1-0------- ~~~~~~~~~~~~~~~~~~~~~~~0~~
---10------- ~~~~~~~~~~~~~~~~~~~~~~~0~~
-----1------ 00~~~~~~~~~~~~~~~~~~~~~~~~
-00001------ ~~~~~~~~~~~~~~~~~~~~~~0~~~
-1---0------ ~~~~~~~~~~~~~~~~~~~~~~0~~~
--1--0------ ~~~~~~~~~~~~~~~~~~~~~~0~~~
---1-0------ ~~~~~~~~~~~~~~~~~~~~~~0~~~
----10------ ~~~~~~~~~~~~~~~~~~~~~~0~~~
------1----- 00~~~~~~~~~~~~~~~~~~~~~~~~
-000001----- ~~~~~~~~~~~~~~~~~~~~~0~~~~
-1----0----- ~~~~~~~~~~~~~~~~~~~~~0~~~~
--1---0----- ~~~~~~~~~~~~~~~~~~~~~0~~~~
---1--0----- ~~~~~~~~~~~~~~~~~~~~~0~~~~
----1-0----- ~~~~~~~~~~~~~~~~~~~~~0~~~~
-----10----- ~~~~~~~~~~~~~~~~~~~~~0~~~~
-------1---- 00~~~~~~~~~~~~~~~~~~~~~~~~
-0000001---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
-1-----0---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
--1----0---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
---1---0---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
----1--0---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
-----1-0---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
------10---- ~~~~~~~~~~~~~~~~~~~~0~~~~~
--------1--- 00~~~~~~~~~~~~~~~~~~~~~~~~
-00000001--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
-1------0--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
--1-----0--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
---1----0--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
----1---0--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
-----1--0--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
------1-0--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
-------10--- ~~~~~~~~~~~~~~~~~~~0~~~~~~
---------1-- 00~~~~~~~~~~~~~~~~~~~~~~~~
0000000001-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
01-------0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0-1------0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0--1-----0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0---1----0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0----1---0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0-----1--0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0------1-0-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
0-------10-- ~~~~~~~~~~~~~~~~~~0~~~~~~~
----------0- ~~00000000~~~~~~~~~~~~~~~~
-----------0 ~~~~~~~~~~0~~~~~~~~~~~~~~~
.end
